# Dependency (Folder unduhan library)
node_modules/
/jspm_packages/

# Hasil Build / Produksi (Hasil kompilasi coding)
dist/
build/
out/

# Log Error (Catatan jika aplikasi error/crash)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# File Rahasia / Environment Variables (Jangan sampai bocor ke GitHub!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# File Sistem Operasi / Editor (Pengaturan lokal laptop Anda)
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
